{% extends "base.html" %}

{% block content %}
<div class="carousel slide" id="carouselIndicators" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://storage.googleapis.com/smartninja-org-assets/curriculums/wd1/img/hairsalon-slider-1.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="https://storage.googleapis.com/smartninja-org-assets/curriculums/wd1/img/hairsalon-slider-2.jpg" class="d-block w-100">
        </div>
    </div>
</div>

<div class="container mt-4" id="services">
    <h2 class="text-center"> Nasze usługi </h2>
    <div class="row">
        <div class="col-md-4">
            <img src="https://storage.googleapis.com/smartninja-org-assets/curriculums/wd1/img/hairsalon-services-1.jpg" class="card-img-top">
            <div class="card-body">
                <h3 class="card-tittle text-center"> Stylizacja </h3>
            </div>
        </div>
        <div class="col-md-4">
            <img src="https://storage.googleapis.com/smartninja-org-assets/curriculums/wd1/img/hairsalon-services-1.jpg" class="card-img-top">
            <div class="card-body">
                <h3 class="card-tittle text-center"> Stylizacja </h3>
            </div>
        </div>
        <div class="col-md-4">
            <img src="https://storage.googleapis.com/smartninja-org-assets/curriculums/wd1/img/hairsalon-services-1.jpg" class="card-img-top">
            <div class="card-body">
                <h3 class="card-tittle text-center"> Stylizacja </h3>
            </div>
        </div>
    </div>
</div>

{% endblock content %}